#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 50px;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
img{
    width: 30%;
}